/* FONTS */

@font-face {
    font-family: Paradiso-Regular;
    src: url('./fonts/paradiso_regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: Paradiso-Light;
    src: url('./fonts/paradiso_light.woff2');
}

@font-face {
    font-family: Paradiso-Bold;
    src: url('./fonts/paradiso_bold.woff2');
}

@font-face {
    font-family: Paradiso-Extra_Bold;
    src: url('./fonts/paradiso_extra_bold.woff2');
}

/* VARIABLES */

:root {
    --paradiso-orange: #f78f1e;
    --paradiso-darkorange: #E35800;
    --text-color: #ffffff;
}

/* GENERAL STYLES */

body {
    font-family: Paradiso-Regular;
    background: var(--paradiso-orange);
    color: var(--text-color);
    overflow-x: hidden;
    margin: 0;
}

/* HEADER */

#nav {
    display: flex;
    align-items: center;
    gap: .7em;
    font-size: 1.15em;
    min-height: 2em;
    margin: .7em .3em -.5em .1em;
    margin-left: 7px;
}

#nav div {
    width: 1.1em;
    height: .12em;
    background-color: white;
    margin: 3px 0;
}

#nav a {
    color: var(--text-color);
    text-decoration: none;
    position: absolute;
    right: 10px;
}

#nav button {
    display: flex;
    gap: 8px;
    color: var(--text-color);
    background: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
}

#nav img {
    min-height: 20px;
    max-width: 1em;
}

h1 {
    font-family: Helvetica;
    font-weight: 1000;
    letter-spacing: -7px;
    font-size: 9.3em;
    margin: -20px 0px 2px 2px;
    overflow-x: hidden;
}

header > h2 {
    color: #ffba71;
    font-family: Paradiso-Bold;
    font-size: 1.10em;
    margin-left: 1.2em;
    margin-top: -1em;
    margin-bottom: 2em;
}

header > h2 > a {
    color: var(--text-color);
}

/* MAIN */

/* FIRST PART */

#carousel {
    display: flex;
    align-items: center;
    transition: transform 0.5s ease;
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scroll-snap-type: inline mandatory;
    margin-right: 0;
}

#carousel::-webkit-scrollbar {
    display: none; /* hide scroll bar on Safari */
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

li.top {
    display: grid;
    width: 257px;
    height: 320.75px;
    grid-template-rows: 1fr auto auto auto auto;
    scroll-snap-align: center;
    transition: transform 0.3s ease;
}

li.top.active {
    transform: scale(1.1); /* Enlarge the active item */
}

.top section {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    grid-row: 2;
    grid-column: 1 / -1;
}

.top h3 {
    margin: 0px 10px 5px 10px;
    font-family: Paradiso-Bold;
    font-size: 20px;
    grid-row: 3;
    grid-column: 1 / -1;
}

.top h4 {
    margin-left: 10px;
    font-family: Paradiso-Light;
}

.top h4:nth-of-type(1) {
    margin: 0px 10px 5px 10px;
    grid-row: 4;
    grid-column: 1 / -1;
}

.top h4:nth-of-type(2) {
    margin: 0px 10px 15px 10px;
    grid-row: 5;
    grid-column: 1 / -1;
}

.top img {
    height: 100%;
    width: auto;
    object-fit: cover;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
}

.top p {
    margin: 0px 6px 5px 0px;
    font-family: Paradiso-Light;
    font-size: 13px;
    background-color: black;
    border-radius: 25px;
    padding: .3em .8em;
}

a.top {
    color: inherit;
    text-decoration: none;
}

.gradient {
    grid-row: 2 / 6;
    grid-column: 1 / 1;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 12%, rgba(0,0,0,0) 63%);
}

/* SECOND PART */

main > h2 {
    font-family: Helvetica;
    font-weight: 1000;
    letter-spacing: -7px;
    font-size: 7.3em;
    margin: .3em 0px 2px 2px;
    overflow-x: hidden;
}

main > h3 {
    font-family: Paradiso-Bold;
    font-size: 30px;
    margin: 20px 2px 5px 10px;
}

#today {
    margin: 10px 0px 5px 8px;
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: inline mandatory;
    scrollbar-width: none;
}

/* THIRD PART */

#sort ul {
    display: flex;
    gap: 3px;
    margin: 3.3em 2px 5em 8px;
    list-style: none;
}

#sort li > button {
    color: var(--text-color);
    background: #ef7a12;
    border: none;
    padding: .8em;
    font-family: Paradiso-Bold;
    font-size: 14px;
}

#sort ul > li:first-child > button {
    background: #e15801;
}

.agenda {
    margin-left: 10px;
}

.agenda h3 {
    font-family: Paradiso-Bold;
    font-size: 1.75em;
    margin-bottom: 15px;
}

hr {
    margin-right: 10px;
    border: none;
    height: .6px;
    background-color: #ffae4a;
}

.agenda-item {
    margin-right: 10px;
    display: grid;
    justify-content: center;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.agenda-item h4 {
    margin: 0 0 6px 0;
    grid-column: 1;
    grid-row: 1;
}

.agenda-item p:first-of-type {
    color: #ffd287;
    display: flex;
    justify-content: end;
    margin: 0;
    grid-column: 2;
    grid-row: 1;
}

.agenda-item p:last-of-type {
    color: #ffd287;
    margin: 0;
    grid-column: 1 / 3;
    grid-row: 2;
}

/* ARTIST HEADER */

.artist-page > header > a {
    display: flex;
    z-index: 1;
    position: absolute;
    right: 0;
    margin: 15px;
}

.artist-page > header > a > img {
    width: 2.5em;
    height: 2.5em;
}

.artist-page {
    background-color: white;
    color: black;
    overflow-x: hidden;
}

.artist-page img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artist-header {
    display: grid;
    height: 400px;
    width: 100%;
    grid-template-rows: auto auto 80px;
    position: relative;
    overflow: hidden;
}

.artist-header img {
    justify-self: center;
    align-self: center;
    object-fit: cover;
    grid-row: 1 / 4;
    grid-column: 1 / -1;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.gradient-artist {
    grid-row: 1 / 4;
    grid-column: 1 / -1;
    align-self: end;
    height: 250px;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 12%, rgba(0,0,0,0) 63%);
}

.artist-page h1 {
    color: var(--text-color);
    font-family: Helvetica;
    font-weight: 1000;
    font-size: 32.4px;
    margin-left: 15px;
    margin-top: 2px;
    letter-spacing: -.9px;
    grid-row: 3;
    position: absolute;
    width: 100%;
}

.artist-page h2 {
    font-family: Paradiso-Bold;
    color: #606060;
    font-size: 1.75em;
    margin: 20px 15px 5px 15px;
}

.ticket {
    margin: 15px;
    padding: 1em;
    background-color: black;
}

.ticket a {
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-family: Paradiso-Bold;
    font-size: 14px;
    text-decoration: none;
}

.ticket div {
    flex-grow: 1;
    margin: 0;
    margin: 0;
}

.ticket img {
    width: 1.5em;
    height: 1.5em;
}

/* ARTIST PAGE */

p.disclaimer {
    margin: 20px 15px;
    color: #a5a5a5;
    font-size: 10px;
}

.info {
    margin: 0 0 0 15px;
}

.info > h3 {
    font-family: Paradiso-Bold;
    font-size: 15px;
    margin-top: -10px;
}

.sold-out {
    font-size: 13px;
    color: #a5a5a5;
    margin: 0 20px 0 15px;
}

.sold-out p {
    margin-bottom: -10px;
}

.sold-out a {
    color: #a5a5a5;
}

.limited {
    margin: 30px 22px;
    display: flex;
    align-items: center;
    font-size: 13px;
    color: black;
}

.limited img {
    width: 11px;
    margin-right: 8px;
}

.reg-text {
    margin: 0 15px;
    line-height: 23px;
}

.reg-text a {
    color: black;
    font-family: Paradiso-Extra_Bold;
    text-decoration: none;
}

.reg-text img {
    filter: invert(1);
    width:  11px;
    margin-left: 10px;
}

h3#mainhall {
    font-family: Paradiso-Bold;
    font-size: 1em;
    color: black;
    margin: 15px 15px 5px 15px;
}

.about {
    display: flex;
    align-items: center;
    margin: 0px 15px 5px 15px;
}

.about img {
    width: 15px;
    margin-right: 11px;
}

iframe:first-of-type {
    margin: 20px;
    width: 330px;
}

iframe:last-of-type {
    margin: 15px;
    width: 345px;
    height: 200px;
}

.ssj p {
    margin-bottom: 40px;
}

.ssj h2 {
    margin-bottom: 25px;
    font-size: 2.2em;
}

.ssj img {
    margin-left: 1em;
    margin-bottom: 70px;
    width: 345px;
}

.ssj-lineup {
    display: flex;
    margin: 15px 0px 50px 15px;
    overflow-x: scroll;
}

.top2 {
    display: grid;
    width: 257px;
    height: 320.75px;
    grid-template-rows: 1fr auto auto;
    scroll-snap-align: center;
    transition: transform 0.3s ease;
    overflow: hidden;
    margin-right: 20px;
}

.top2 img {
    height: 100%;
    width: auto;
    object-fit: cover;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
}

.top2 h4 {
    margin: 0px 20px 5px 10px;
    color: white;
    font-size: 20px;
    grid-row: 2;
    grid-column: 1 / -1;
}

.top2 h3 {
    margin: 0px 20px 5px 10px;
    font-family: Paradiso-Bold;
    color: white;
    font-size: 20px;
    grid-row: 3;
    grid-column: 1;
}

.howtoget img {
    filter: invert(1);
    width:  11px;
    margin-left: 10px;
}

.howtoget a {
    /* how do I get a margin on the top */
    margin-left: 15px;
    color: black;
    text-decoration: none;
}

footer {
    margin: 40px 15px;
}

footer a {
    color: black;
    text-decoration: none;
}

img#refresh {
    width:  16px;
    margin-right: 10px;
}

/* menu */

