/* FONTS */

@font-face {
    font-family: 'Paradiso-Regular';
    src: url('./fonts/paradiso_regular.woff2');
  }

@font-face {
    font-family: 'Paradiso-Light';
    src: "./fonts/paradiso_light.woff2";
}

@font-face {
    font-family: 'Paradiso-Bold';
    src: "./fonts/paradiso_bold.woff2";
}

@font-face {
    font-family: 'Paradiso-Extra_Bold';
    src: "./fonts/paradiso_extra_bold.woff2";
  }
  
/* VARIABLES */

:root {
    --paradiso-orange: #f78f1e;
    --paradiso-darkorange: #E35800;
    --text-color: #ffffff;
}

/* GENERAL STYLES */

body {
    font-family: "Paradiso-Regular";
    background: var(--paradiso-orange);
    color: var(--text-color);
}

main img {
    max-width: 20em;
}